<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.8/pixi.min.js"></script>
    <title>{% block title %}Domesday Times{% endblock %}</title>
</head>

<body>
    <!-- Set some values using django template to be used in JS code-->
    <script type="text/javascript">
        var villageImage = "{% static "map/images/Village.png" %}";
        var placesJson = "{% url "map-places" %}";
    </script>
    <script type="text/javascript" src="{% static 'map/js/camera.js' %}"></script>
    <script type="text/javascript" src="{% static 'map/js/pixiview.js' %}"></script>
</body>
</html>
